.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList {
  border: 3px solid hotpink;
  border-radius: 7px;
  padding: 20px;
  background-color: palegreen;
}

.todoList-empty {
  border: 3px solid hotpink;
  border-radius: 7px;
  padding: 20px;
  background-color: crimson;
}